<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mall.system.dao.SysUserRoleMapper">
    <insert id="insertUserAndUserRole">
        INSERT INTO tz_sys_user_role (user_id,role_id) VALUES
        <foreach collection="roleIdList" item="roleId" separator=",">
            (#{userId},#{roleId})
        </foreach>
    </insert>

    <delete id="deleteBatch">
        DELETE FROM tz_sys_user_role WHERE role_id IN
        <foreach item="roleId" collection="roleIds" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </delete>

    <delete id="deleteByUserId">
        DELETE
        FROM tz_sys_user_role
        WHERE user_id = #{userId}
    </delete>
</mapper>