<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mall.dao.IndexImgMapper">

    <delete id="deleteIndexImgByIds">
        DELETE FROM tz_index_img WHERE img_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="listIndexImg" resultType="com.demo.mall.bean.model.IndexImg">
        SELECT *
        FROM tz_index_img
        where `status` = 1
        ORDER BY seq DESC
    </select>
</mapper>